/* Estilos globais */
body {
    background-color: #181818; /* Define a cor de fundo do corpo da página */
}

/* Estilos para o container dos botões */
.button_container {
    display: flex; /* Utiliza Flexbox para o layout */
    flex-direction: column; /* Alinha os botões verticalmente */
    align-items: center; /* Centraliza os botões horizontalmente */
}

/* Estilos para os links dos botões */
.button_link {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol; /* Define a família da fonte */
    background-color: #a41c3a; /* Define a cor de fundo dos botões */
    color: #FFFFFF; /* Define a cor do texto dos botões */
    border: 1px solid #2c2c2c; /* Define a borda dos botões */
    display: flex; /* Utiliza Flexbox para o layout interno do botão */
    justify-content: center; /* Centraliza o conteúdo do botão horizontalmente */
    align-items: center; /* Centraliza o conteúdo do botão verticalmente */
    white-space: nowrap; /* Impede a quebra de linha dentro do botão */
    margin: 1px; /* Define a margem ao redor dos botões */
    overflow: hidden; /* Impede que o conteúdo excedente seja exibido */
    transition-duration: 200ms; /* Duração da transição para hover */
    transition-property: color, background-color; /* Propriedades que terão transição no hover */
    text-decoration: none; /* Remove a decoração de texto dos links */
    padding: 10px 20px; /* Define o preenchimento interno dos botões */
    border-radius: 5px; /* Arredonda as bordas dos botões */
    width: 200px; /* Define uma largura fixa para todos os botões */
}

/* Estilos para o hover dos botões */
.button_link:hover {
    background-color: #191919; /* Altera a cor de fundo dos botões no hover */
}
